/* CABEÇALHO */

.main_header {
    width: 100%;
    background-color: #2d3142;
}

.main_header .main_header_content {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}

.main_header .main_header_content .logo {
    flex-basis: 330px;
    padding: 20px;
    width: 290px;
}

.main_header .main_header_content .main_header_content_menu {
    flex-basis: calc(100% - 330px);
    display: flex;
    justify-content: flex-end;
}

.main_header_content_menu ul {
    display: flex;
    align-items: stretch;
}

.main_header_content_menu ul li {
    list-style: none;
    display: flex;
    align-items: center;
}

.main_header_content_menu ul li a {
    padding: 0 30px;
    display: flex;
    align-items: center;
    height: 100%;
    color: #2f9e41;
}

.main_header_content_menu ul li a:hover {
    color: #fff;
    background-color: #2f9e41;
}

.main_cta {
    width: 100%;
    background-image: url("../img/bg_main_home.png");
    background-color: #2d3142;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.main_cta .main_cta_content {
    max-width: 1300px;
    margin: 0 auto;
}

.main_cta .main_cta_content h1 {
    font-size: 3em;
    color: #fff;
    font-weight: 700;
    text-align: center;
}

.main_cta .main_cta_content p {
    font-size: 1.875em;
    color: #fff;
    font-weight: 300;
    text-align: center;
    margin: 20px 0;
}

.main_cta .main_cta_content .btn {
    background-color: #2f9e41;
    color: #fff;
    font-size: 0.8em;
    padding: 10px 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.main_cta .main_cta_content .main_cta_content_spacer {
    margin: 0 auto;
    max-width: 1300px;
    padding: 190px 40px;
}

/* ARTIGOS */

.main_blog {
    max-width: calc(1300px - 40px);
    padding: 20px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main_blog .main_blog_header {
    margin: 30px 0;
    flex-basis: 100%;
}

.main_blog .main_blog_header h1 {
    color: #333;
    margin-bottom: 5px;
    font-size: 1.8em;
}

.main_blog article {
    opacity: 0.5;
    flex-basis: calc(25% - 20px);
    margin-bottom: 30px;
}

.main_blog article:hover {
    opacity: 1;
}

.main_blog article img {
    width: 100%;
}

.main_blog article p {
    margin: 10px 0;
}

.main_blog article .category {
    font-size: 0.875em;
    color: #2f9e41;
    margin: 10px 0;
}

.main_blog article h2 {
    font-weight: 300;
    font-size: 1.2em;
}

.main_blog article h2 a {
    color: #333;
}
